<a href="https://colab.research.google.com/github/stoicelephant/DIDA325/blob/main/Python_%26_Pandas_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the Python library used for working with DataFrames.

In [ ]:
import pandas as pd

___
##The Bechdel Test

### Load and Examine the Data
The actual dataset can be found at https://raw.githubusercontent.com/fivethirtyeight/data/master/bechdel/movies.csv

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/bechdel/movies.csv')

##Exploring

Take a look at the first 8 rows of the dataset.

In [ ]:
data.head(8)
data = data.dropna()

##Cleaning

Is there any NA data? If you find some, drop them.

In [ ]:
# not that i see

I don't like the `code` column. Get rid of it, for good.

In [ ]:
data = data.drop('code',axis=1)

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,13000000,25682380.0,42195766.0,1.0,1.0
1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,45658735,13611086.0,41467257.0,1.0,1.0
2,2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,20000000,53107035.0,158607035.0,1.0,1.0
3,2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,61000000,75612460.0,132493015.0,1.0,1.0
4,2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,40000000,95020213.0,95020213.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1990,tt0100403,Predator 2,men,men,FAIL,35000000,28317513.0,54768418.0,62404139,50489429.0,97650742.0,5.0,3.0
1611,1990,tt0100405,Pretty Woman,ok,ok,PASS,14000000,178406268.0,432645872.0,24961656,318093987.0,771396947.0,5.0,3.0
1612,1990,tt0099810,The Hunt for Red October,notalk,notalk,FAIL,30000000,120709866.0,200500000.0,53489262,215222722.0,357486568.0,5.0,3.0
1613,1990,tt0100802,Total Recall,notalk,notalk,FAIL,125000000,58877969.0,198615996.0,222871925,104977970.0,354127435.0,5.0,3.0
1614,1990,tt0100814,Tremors,ok,ok,PASS,10000000,16667084.0,16667084.0,17829754,29717001.0,29717001.0,5.0,3.0

What can we learn about the dataset by running the description of it?

In [ ]:
data.describe()

,year,budget,domgross,intgross,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
count,1600.000000,1.600000e+03,1.600000e+03,1.600000e+03,1.600000e+03,1.600000e+03,1.600000e+03,1600.000000,1600.000000
mean,2004.801875,4.838712e+07,6.928455e+07,1.557233e+08,5.745656e+07,8.421885e+07,1.871956e+08,2.426250,1.939375
std,5.861130,4.958758e+07,8.079025e+07,2.162348e+08,5.605924e+07,9.895412e+07,2.585891e+08,1.197584,0.691736
min,1990.000000,7.000000e+03,8.280000e+02,8.280000e+02,8.632000e+03,8.990000e+02,8.990000e+02,1.000000,1.000000
25%,2000.750000,1.400000e+07,1.634932e+07,2.700327e+07,1.658013e+07,1.902172e+07,3.273363e+07,1.000000,1.000000
50%,2006.000000,3.000000e+07,4.258725e+07,8.071004e+07,3.800061e+07,5.227021e+07,9.388030e+07,2.000000,2.000000
75%,2010.000000,6.562500e+07,9.378647e+07,1.986160e+08,8.426576e+07,1.116178e+08,2.328829e+08,3.000000,2.000000
max,2013.000000,4.250000e+08,7.605076e+08,2.783919e+09,4.614359e+08,9.558904e+08,3.171931e+09,5.000000,3.000000

___
### Simple Beginnings
Let's start with a few simple exercises, each of which aren't connected to each other.

Does the movie *Shrek* pass the Bechdel test?

Rename the `imdb` column `IMDB_ID`.

What movies in the dataset are from the first year in the dataset? How representative of a sample do you think this dataset is for early years?

Calculate the overall `mean()` budgets in real dollars adjusted for inflation (the _2013. column) for films. In your calculation, divide by 1e6 (or 1000000) so that we can see the result in millions of dollars.

How many movies in the dataset have each of the possible outcomes for the Bechdel test?

___
### Budgets by Pass/Fail

How do the budgets of movies compare between movies that pass and fail the Bechdel test? To do this, we'll use `group_by()` to group the data by the `clean_test` column, then use `median()` to calculate the median budget (make sure to use the inflation-adjusted `budget_2013.` column).

It'll be a bit easier to make sense of if you also sort to view this in increasing budget order. What trends do you notice?

## Return on Investment
As a starting question, I'd like to re-do some of the analysis done by [this FiveThirtyEight article](https://fivethirtyeight.com/features/the-dollar-and-cents-case-against-hollywoods-exclusion-of-women/): do movies which pass the Bechdel test have a higher return on investment than those that don't? We'll take a couple of steps to get there.

Unfortunately, if you take a peek at the result of `head(bechdel)` the budget columns are characters, not numeric! That's because some of the entries don't have a listed budget or box office take, instead being listed as "#N/A". So, let's remove these.

First, only keep the `year`, `title`, `clean_test`, `budget_2013$`, `intgross_2013$`, and `domgross_2013$` columns. Save the result in a variable caled `profits`.

538 only looked at films after 1990, do let's so the same. Save the result as our profit variable

Because typing the `_2013$` at the end of every name is a pain, let's rename() to remove that part so they just have the names `budget`, and so on. Save it in `profits`.

Finally, let's calculate the domestic return on investment, or `roi`, which is the domestic gross divided by the budget of the film. We'll need to add a column to do this.

Now we're ready to actually summarize the data and get the results we want!
Use `group_by()` to calculate the `mean()` return on investment for each different test result. You can also sort by the `roi` to see them in order a little more clearly. What trends do you see?